@import "colors";
@import "../../node_modules/rfs/scss";

html {
	font-size: 16px;
}

html,
body,
#root,
.app {
	height: 100%;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: $lemon-meringue;
}

.text-b {
    color: $prussian-blue;
}

.budget {
    border-radius: 1rem;
    background-color: $orange;
}
